.customIcon{
  position: absolute;
  right: 15px;
  top: 15px;
}
.customHighlight{
  position: absolute;
  top: 43.5%;
  width: 57px;
}
.customPlus{
  position: absolute;
  top: 4px;
  right: 180px;
}
