<ion-header>
  <app-header></app-header>
</ion-header>
<ion-content>
  <div class="container">
    <div class="text-center my-10">
      <p class="text-zinc-800 tracking-wider font-sans text-xl">
        CUSTOMER CARE
      </p>
    </div>
    <div class="text-center mb-10">
      <p class="text-base text-zinc-500 font-sans">
        At FizaNoor Collection, your satisfaction is our top priority. We understand
        that shopping for clothing online can be a unique experience, and we're
        here to make it as enjoyable and stress-free as possible. Our dedicated
        customer care team is ready to assist you at every step, whether you
        have questions about our products, need help with sizing, or require
        support with your order. With clear policies, easy returns and
        exchanges, and a wealth of information at your fingertips, we aim to
        provide a seamless and personalized shopping journey. Trust us to not
        only deliver quality clothing but also an exceptional customer
        experience. Thank you for choosing FizaNoor Collection for your fashion
        needs.
      </p>
    </div>
    <div class="mb-16">
      <p class="border border-zinc-800"></p>
      <div class="flex justify-center items-center w-full">
        <div class="text-zinc-600 font-sans w-1/3 p-8 text-center">
          <p class="mt-5">Have any questions or concerns?</p>
          <p>We’re always ready to help!</p>
          <p class="pt-10 font-bold">Call us at</p>
          <a class="flex flex-auto items-center justify-center py-4 hover:bg-accent-100"
            [href]="'tel:' + +923004702586">
            <div class="flex items-center gap-x-2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6 text-gray-500">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z" />
              </svg>
              <span>+923004702586</span>
            </div>
          </a>
          <p>or send us an email to:</p>
          <a class="flex flex-auto items-center justify-center py-4 hover:bg-accent-100"
            [href]="'mailto:' + 'bilalbhatti2586@gmail.com'">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6 text-gray-500 mr-2">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M21.75 9v.906a2.25 2.25 0 0 1-1.183 1.981l-6.478 3.488M2.25 9v.906a2.25 2.25 0 0 0 1.183 1.981l6.478 3.488m8.839 2.51-4.66-2.51m0 0-1.023-.55a2.25 2.25 0 0 0-2.134 0l-1.022.55m0 0-4.661 2.51m16.5 1.615a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V8.844a2.25 2.25 0 0 1 1.183-1.981l7.5-4.039a2.25 2.25 0 0 1 2.134 0l7.5 4.039a2.25 2.25 0 0 1 1.183 1.98V19.5Z" />
            </svg>
            <p class="cursor-pointer">{{'fizanoorCollection@gmail.com'}}</p>
          </a>
        </div>
      </div>
    </div>
    <div class="mb-20 text-center">
      <p class="border border-zinc-800"></p>
      <p class="text-zinc-800 tracking-wider font-sans text-xl py-16 pb-10">
        RETURNS
      </p>
      <p class="text-zinc-500 font-sans text-base">
        At FizaNoor Collection, your satisfaction is our priority. If you're not
        completely happy with your purchase, here's what you need to know:
      </p>
      <ul class="text-justify text-zinc-500 font-sans text-base">
        <li class="ml-20 list-disc py-2">
          Items must be unused, in the original packaging, with all tags
          attached.
        </li>
        <li class="ml-20 list-disc py-2">
          Some items, like personalized or final sale items, may not be eligible
          for returns.
        </li>
        <li class="ml-20 list-disc py-2">
          Contact our customer support team at
          FizaNoor Collection to start the return process.
        </li>
        <li class="ml-20 list-disc py-2">
          We appreciate your business and strive to make returns hassle-free. If
          you have questions, reach out to us at
          <a>FizaNoor Collection</a>
        </li>
      </ul>
      <p class="text-start pl-10 text-zinc-500 font-sans text-base">
        Thank you for shopping with us!
      </p>
      <p class="border border-zinc-800 my-14"></p>
    </div>
    <div class="text-center">
      <p class="text-zinc-800 tracking-widest font-sans text-xl pb-10">FAQ</p>
    </div>
    <div class="flex justify-between w-full mb-24">
      <div class="w-1/2 p-5">
        <p class="text-lg text-zinc-600 font-sans py-3 tracking-wide">
          1. How do I place an order?
        </p>
        <p class="text-base text-zinc-500 font-sans">
          To place an order, simply browse our website, select the items you
          like, and add them to your cart. Proceed to checkout, provide your
          shipping information, choose your payment method, and confirm your
          order.
        </p>
        <p class="text-lg text-zinc-600 font-sans py-3 tracking-wide">
          2. What payment methods do you accept?
        </p>
        <p class="text-base text-zinc-500 font-sans">
          We accept a variety of payment methods, including credit/debit cards,
          mobile wallets, and cash on delivery (COD) for eligible locations
          within Pakistan.
        </p>
        <p class="text-lg text-zinc-600 font-sans py-3 tracking-wide">
          3. How long will it take to receive my order?
        </p>
        <p class="text-base text-zinc-500 font-sans">
          Delivery times may vary based on your location and the shipping option
          chosen. Typically, orders are delivered within [X days/weeks]. You can
          track your order's progress using the provided tracking number.
        </p>
        <p class="text-lg text-zinc-600 font-sans py-3 tracking-wide">
          4. Can I return or exchange an item?
        </p>
        <p class="text-base text-zinc-500 font-sans">
          Yes, you can! We offer a hassle-free return and exchange policy.
          Please refer to our Return Policy for detailed information on the
          process and eligibility criteria.
        </p>
        <p class="text-lg text-zinc-600 font-sans py-3 tracking-wide">
          5. Do you offer international shipping?
        </p>
        <p class="text-base text-zinc-500 font-sans">
          Currently, we only ship within Pakistan. We do not offer international
          shipping.
        </p>
        <p class="text-lg text-zinc-600 font-sans py-3 tracking-wide">
          6. How can I track my order?
        </p>
        <p class="text-base text-zinc-500 font-sans">
          Once your order is shipped, you will receive a tracking number via
          email. You can use this number to track your order on our website or
          the courier service's website.
        </p>
      </div>
      <div class="w-1/2 p-5">
        <p class="text-lg text-zinc-600 font-sans py-3 tracking-wide">
          7. What should I do if I receive a damaged or incorrect item?
        </p>
        <p class="text-base text-zinc-500 font-sans">
          We apologize for any inconvenience. Please contact our customer
          support team at [Customer Support Email/Phone] within [X days] of
          receiving the item, and we will assist you in resolving the issue
          promptly.
        </p>
        <p class="text-lg text-zinc-600 font-sans py-3 tracking-wide">
          8. Can I cancel my order after it's been placed?
        </p>
        <p class="text-base text-zinc-500 font-sans">
          You may cancel your order before it is shipped. Please get in touch
          with our customer support team as soon as possible to initiate the
          cancellation process.
        </p>
        <p class="text-lg text-zinc-600 font-sans py-3 tracking-wide">
          9. Are the product images on the website accurate representations of
          the items?
        </p>
        <p class="text-base text-zinc-500 font-sans">
          We make every effort to display accurate product images. However,
          please note that colors and details may vary slightly due to screen
          settings and lighting conditions.
        </p>
        <p class="text-lg text-zinc-600 font-sans py-3 tracking-wide">
          10. How can I contact your customer support team?
        </p>
        <p class="text-base text-zinc-500 font-sans">
          You can reach our customer support team via email at [Customer Support
          Email] or by calling [Customer Support Phone Number]. Our support
          hours are [Operating Hours], [Days of the Week].
        </p>
        <p class="text-lg text-zinc-600 font-sans py-3 tracking-wide">
          11. Do you offer gift wrapping services?
        </p>
        <p class="text-base text-zinc-500 font-sans">
          Yes, we offer gift wrapping services. You can select this option
          during the checkout process.
        </p>
        <p class="text-lg text-zinc-600 font-sans py-3 tracking-wide">
          12. What if my question isn't answered here?
        </p>
        <p class="text-base text-zinc-500 font-sans">
          If you have any other questions or concerns, please don't hesitate to
          contact our customer support team. We're here to help!
        </p>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>