<ion-content [fullscreen]="true">
  <div class="pl-12 font-sans tracking-wide my-4 relative">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
      class="w-6 h-6 absolute right-6 cursor-pointer" (click)="closeProductView()">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
    </svg>

    <p class="inline cursor-pointer text-zinc-700" routerLink="/home">Home /</p>
    <span class="text-zinc-500 pl-1 cursor-default">{{
      productData?.productName
      }}</span>
  </div>
  <div class="flex justify-between w-full mb-4 pl-12">
    <div class="w-1/2" *ngIf="customOptions">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide><img [src]="productData?.productMainImage" alt=""
            class="w-full h-[400px] object-cover" /></ng-template>
        <ng-template carouselSlide *ngFor="let image of productData?.productGalleryImages"><img [src]="image" alt=""
            class="w-full h-[400px] object-cover" /></ng-template>
      </owl-carousel-o>
    </div>
    <div class="w-1/2 px-7">
      <form [formGroup]="cartForm" (ngSubmit)="addToCart(productData ?? defaultProduct)">
        <p class="text-3xl font-sans text-zinc-400 pb-5 w-full">
          {{ productData?.productName }}
        </p>
        <div class="relative">
          <span class="text-zinc-400 font-sans pb-5">Rs: {{ productData?.productPrice }}</span>
          <span class="text-zinc-400 font-sans pb-6 px-2"
            *ngIf="productData!.productDiscount && +productData!.productDiscount > 0">Rs: {{
            productData?.discountedPrice }}</span>
          <p class="border border-zinc-500 customHighlight"
            *ngIf="productData!.productDiscount && +productData!.productDiscount > 0"></p>
        </div>
        <div class="w-full">
          <div class="w-full my-2">
            <label class="text-zinc-400 font-sans">Color</label>
            <ng-select placeholder="Select--"
              class="border rounded-xl text-xs cursor-pointer text-gray-800 placeholder-gray-400" bindLabel="name"
              bindValue="id" [items]="colors" formControlName="color">
            </ng-select>
            <div *ngIf="
          f['color'].invalid &&
          (f['color'].dirty || f['color'].touched)
        " class="text-xs text-red-500">
              <div *ngIf="f['color'].errors?.['required']">
                Color is not selected.
              </div>
            </div>
          </div>
          <div class="w-full my-2">
            <label class="text-zinc-400 font-sans">Size</label>
            <ng-select placeholder="Select--"
              class="border rounded-xl text-xs cursor-pointer text-gray-800 placeholder-gray-400" bindLabel="name"
              bindValue="id" [items]="sizes" formControlName="size">
            </ng-select>
            <div *ngIf="
          f['size'].invalid &&
          (f['size'].dirty || f['size'].touched)
        " class="text-xs text-red-500">
              <div *ngIf="f['size'].errors?.['required']">
                Size is not selected.
              </div>
            </div>
          </div>
        </div>
        
        <div class="mt-2">
          <label class="block text-zinc-400 font-sans pb-2">Quantity</label>
          <input type="number" value="1" min="1" (keydown)="validateNumber($event)" formControlName="quantity"
            class="border border-zinc-400 w-28 px-2 py-1 focus:outline-none text-zinc-500" />
        </div>
        <div class="mt-6">
          <button type="submit"
            class="bg-zinc-900 text-white w-full py-3 transition hover:bg-zinc-800 hover:text-zinc-200 duration-300">
            Add to Cart
          </button>
        </div>
        <div class="mt-4">
          <p class="text-blue-500 underline cursor-pointer" (click)="productDetail(productData)">
            View More Details
          </p>
        </div>
      </form>
    </div>
  </div>
</ion-content>
