<svg xmlns="http://www.w3.org/2000/svg" (click)="closeRegisterDialog()" viewBox="0 0 20 20" fill="currentColor"
  class="w-5 h-5 absolute top-2 right-3 cursor-pointer">
  <path
    d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
</svg>
<div class="m-auto w-3/4 mt-5">
  <h1 class="text-2xl font-bold text-zinc-600 text-center">Register</h1>
  <h1 class="text-xl font-bold text-zinc-500 px-2 pt-2">
    Personal Information
  </h1>
  <form [formGroup]="registerForm" (ngSubmit)="formSubmit()">
    <div class="p-2">
      <label class="block text-lg font-bold text-zinc-500">Name<span class="text-red-500">*</span></label>
      <input type="text" formControlName="name" placeholder="Enter your name"
        class="w-full focus:outline-none border border-zinc-400 p-1 placeholder-zinc-500 rounded-sm" />
      <div *ngIf="
          f['name'].invalid &&
          (f['name'].dirty || f['name'].touched)
        " class="text-xs text-red-500">
        <div *ngIf="f['name'].errors?.['required']">
          Name is required.
        </div>
      </div>
    </div>
    <div class="p-2">
      <label class="block text-lg font-bold text-zinc-500">Date Of Birth<span class="text-red-500">*</span></label>
      <input type="date" formControlName="dob"
        class="w-full focus:outline-none border border-zinc-400 p-1 placeholder-zinc-500 rounded-sm" />
      <div *ngIf="f['dob'].invalid && (f['dob'].dirty || f['dob'].touched)" class="text-xs text-red-500">
        <div *ngIf="f['dob'].errors?.['required']">
          Date Of Birth is required.
        </div>
      </div>
    </div>
    <h1 class="text-xl font-bold text-zinc-500 px-2 pt-2">
      Sign-in Information
    </h1>
    <div class="p-2">
      <label class="block text-lg font-bold text-zinc-500">Email<span class="text-red-500">*</span></label>
      <input type="email" formControlName="email" placeholder="Enter your email"
        class="w-full focus:outline-none border border-zinc-400 p-1 placeholder-zinc-500 rounded-sm" />
      <div *ngIf="f['email'].invalid && (f['email'].dirty || f['email'].touched)" class="text-xs text-red-500">
        <div *ngIf="f['email'].errors?.['required']">Email is required.</div>
      </div>
      <div *ngIf="f['email'].invalid && (f['email'].dirty || f['email'].touched)" class="text-xs text-red-500">
        <div *ngIf="f['email'].errors?.['email']">
          Please enter a valid email address.
        </div>
      </div>
    </div>
    <div class="p-2">
      <label class="block text-lg font-bold text-zinc-500">Phone Number<span class="text-red-500">*</span></label>
      <input type="text" formControlName="number" placeholder="Enter your number"
        class="w-full focus:outline-none border border-zinc-400 p-1 placeholder-zinc-500 rounded-sm" />
      <div *ngIf="
          f['number'].invalid && (f['number'].dirty || f['number'].touched)
        " class="text-xs text-red-500">
        <div *ngIf="f['number'].errors?.['required']">
          Phone Number is required.
        </div>
      </div>
      <div *ngIf="
          f['number'].invalid && (f['number'].dirty || f['number'].touched)
        " class="text-xs text-red-500">
        <div *ngIf="f['number'].errors?.['pattern']">Invalid Phone Number.</div>
      </div>
    </div>
    <div class="w-full p-2">
      <button type="submit" [disabled]="registerForm.invalid || (isLoading$ | async)"
      class="bg-zinc-600 text-white font-bold py-2 w-full hover:bg-zinc-500 flex items-center justify-center disabled:bg-gray-300 disabled:text-gray-500 disabled:cursor-not-allowed">
      <span class="mr-2">Register</span>
      <ion-spinner class="text-white" *ngIf="(isLoading$ | async)" name="crescent"></ion-spinner>
    </button>
    </div>
    <div class="text-center px-1 mb-5">
      <span class="text-zinc-600 font-sans">Do you have an account?</span>
      <a (click)="openDialogAuth()" class="text-zinc-600 font-bold cursor-pointer hover:text-zinc-500">login</a>
    </div>
  </form>
</div>
